@media (min-width:1440px) {
   
    .big-sc{
        display: flex;
        width:100%;
    }
    .side-bar{
        width:21.5%;
        position: static;
        left:0;
        box-shadow: none;

        
    }
       .big-cont{
        width:79.5%;
    }
    
    .side-bar__icon1{
        display: none;
    }
    .show-modal{
        width: 440px;
    }
    .input-group{
        width:376px;
    }
    .bck-gr{
        z-index: 11;
    }
  
    
}