@media (min-width:1120px) {
    .big-sc{
        display: flex;
    }
    .side-bar{
        width:21.5%;
        position: static;
        left:0;

        
    }
    .big-cont{
        width:79.5%;
    }
    .side-bar__logo{
        margin:25px auto 0 16.5px;
        width:55px;
    }
    .side-bar__icon1.icon{
        width:34px;
        height:34px;
    }
    .side-bar__icon2.icon{
        width:34px;
        height:34px;
    }
  
    
	.header {
		display: none;
	}
	.container {
		height: 535px;
		margin-right: 0;
	}
	.services {
		padding: 42px 25px 0 0;
	}
	.services__wrapper {
		&::after {
			display: none;
		}
	}
	.services__title {
		&::before {
			left: -32px;
		}
	}
	.services__header {
		padding: 0 7px 0 33px;
	}
	.services__icons {
		display: flex;
	}
	.services__icon1 {
		position: relative;
		&::before {
			content: "Оставить заявку";
			height: 24px;
			font-size: 16px;
			letter-spacing: -.2px;
			position: absolute;
			white-space: nowrap;
			right: 47px;
			top: 8px;
		}
	}
	.services__icon2 {
		position: relative;
		margin-left: 142px;
		&::before {
			content: "Статус ремонта";
			height: 24px;
			font-size: 16px;
			letter-spacing: -.2px;
			position: absolute;
			white-space: nowrap;
			right: 47px;
			top: 8px;
		}
	}
	.services__items {
		padding-left: 32px;
		padding-top: 0;
	}
	.services__item-active {
		border: none;
		background-color: #f8f8f8;
		border-radius: 0;
	}
	.item1 {
		order: 2;
	}
	.item2 {
		display: none;
	}
	.item3 {
		display: block;
		order: 1;
		border: 2px solid #B8FFEC;
		background-color: #fff;
		border-radius: 6px;
	}
	.item4 {
		order: 3;
	}
	.item5 {
		display: block;
		order: 4;
	}
	.item6 {
		order: 5;
	}
	.feedback {
		display: block;
	}
	.about {
		margin-left: 34px;
		padding: 0;
	}
	.about__wrapper {
		display: flex;
		padding-left: 0;
	}
	.about__text {
		width: 490px;
	}
	.about__paragraph {
		width: 100%;
		padding-right: 28px;
	}
	.read-more {
		padding-top: 13px;
	}
	.about__p1 {
		display: none;
	}
	.about__p2 {
		display: block;
	}
	.about__w-img {
		width: 531.5px;
		height: 375px;
		padding: 0;
		transform: translateY(-62px);
	}
	.about__img {
		width: 100%;
		height: 100%;
		padding-bottom: 37.8px;
		margin-top: 38.3px;
		border-radius: 5px;
	}
    .swipe__items {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.seventh, .eighth{
        display: flex;
    }
	.swipe__block {
		display: block;
		padding-left: 21px;
		padding-right: 15px;
	}
    .footer__info{
        width:313px;
    }
}

