

.show-modal{
    width:320px;
    height: 676px;
    position: absolute;
    background-color: #fff;
    right:0;
    top:-700px;
    z-index: 10;
}
.show-modal.change{
    top:0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}
.show-modal__title{
    position: relative;
    margin: 40px 14px 24px 0;
    padding-left: 15px;
    font-size: 24px;
}
.show-modal__title::before{
    content:"";
    width:3px;
    height: 40px;
    border-radius: 0 10px 10px 0;
    background-color: #41F6D7;
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
}
.input-group{
    position: relative;
    width:288px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:16px;
}
.field{
    width: 100%;
    border: 1px solid #eaeaea;
    font-size: 1.4px;
    border-radius: 8px;

}

.input-group input{
    height: 48px;
}
.input-group textarea{
    height: 118px;
    max-height: 200px;
    max-width: 300px;
}
.input-group label{
    position: absolute;
    left:16px;
    top:12px;
    font-size: 14px;
}
.show-modal__confid{
    width:288px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    color:#7E7E82;
    text-align: left;
}

.show-modal__link{
    color:#FF3E79;
    font-weight: 500;
    text-decoration: none;
}
.show-modal__btn{
    width: 136px;
}
.show-modal__btn .p-btn-text{
    transform: translateX(10px);
}