.side-bar{
    width: 320px;
    padding-bottom: 32px;
    position: absolute;
    top:0;
    left:-365px;
    z-index: 5;
    background-color: #fff;
    letter-spacing: -.2px;
    color:#1B1C21;
    transition: left .6s;
}
.side-bar.change{
    left:0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
        16px 0px 52px 0px rgba(14, 24, 80, 0.2);
}
.side-bar__header{
    display: flex;
    justify-content: space-between;
}
.side-bar__logo{
    margin: 18.5px auto 0 16.5px
}

.side-bar__icon2{
    margin-top:23px;
    margin-right: 24px;
    background-image: url(../img/search.svg);
}
.side-bar__block{
    width:222px;
    height: 676px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:32px;
}
.side-bar__links{
    display: flex;
    flex-direction: column;
}
.side-bar__link{
    text-decoration: none;
    font-size: 16px;
    color:#1B1C21;
    letter-spacing: -.2px;
    padding-left:24px;
    margin-bottom: 32px;
    white-space: nowrap;
}
.side-bar__link:first-child{
    padding-top:4px;
}
.side-bar__link-active{
    color:#7E7E82;
    position: relative;
}
.side-bar__link-active::before{
    content:"";
    width:4px;
    height: 32px;
    border-radius: 0 10px 10px 0;
    background-color: #41F6D7;
    position: absolute;
    left:0;
    top:0;
}
.side-bar__footer{
    padding-left:24px;
    padding-bottom: 32px;
}
.side-bar__icons{
    display: flex;
}
.call-icon{
    background-image: url(../img/call.svg);
    margin-right: 16px;
}
.chat-icon{
    background-image: url(../img/chat.svg);
    margin-right: 16px;
}
.profile-icon{
    background-image: url(../img/profile.svg);
}
.side-bar__info{
    margin-top:16px;
    margin-bottom:12px;
}
.side-bar__phone{
    font-size: 24px;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: -.6px;
}
.side-bar__langs{
    display: flex;
    list-style-type: none;
    padding:0;
    margin-top:40px;

}
.side-bar__lang{
    padding-right: 7px;
    text-transform: uppercase;
}
.side-bar__lang-active{
    color:#7E7E82;
}
.side-bar__lang:last-child{
    padding-right:0;
}