$bckg-color: #f8f8f8;
$border-top:#D9FFF5;
$white:#fff;
$gray-txt:#7E7E82;
$icon-color: #FF3E79;
$light-gray: #eaeaea;
$before-strip-color:#41F6D7;
$active-blue:#B8FFEC;
$black: #000;
$dark-txt:#1B1C21;
$dd: #ddd;
$bullet-act:#B5B6BC;



@import './fonts.scss';
@import './base-style.scss';
@import './voge-bckg.scss';
@import './show-modal.scss';
@import './main-btn.scss';
@import './side-bar.scss';
@import "./main.scss";
@import "./swiper.scss";
@import "./icon.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./media360.scss";
@import './media768.scss';
@import './media1120.scss';
@import './media1440.scss';


