.swipe {
	overflow: hidden;
}
.swipe__block {
	display: none;
}
.swipe__item {
	width: 224px !important;
	height: 72px;
	margin: 10px;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #EAEAEA;
	border-radius: 6px;
}
.swipe__img {
	max-width: 108px;
	max-height: 52px;
}
.swipe2 .swipe__item{
	height:160px;
}


.swipe__icon {
	border: 2px solid #FF3E79;
	background-image: url(../img/dropdown.svg);
}
div.swiper {
	width: 100%;
	height:120px;
    margin-left:16px;
	&::after {
		content: "";
		width: 24px;
		height: 70px;
		background: linear-gradient( to right, rgba(248, 248, 248, 0.2), rgba(248, 248, 248,0.5), rgba(248, 248, 248,0.8), rgba(248, 248, 248,0.95), rgba(248, 248, 248,0.99) );
		z-index: 1;
		position: absolute;
		right: 0;
		top: 87px;
	}
}
div.swiper2{
	height:220px;
}


.swiper-slide {
	background-color: #fff;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #DDDDDD;
}
.swiper-pagination-bullet-active {
	background-color: #B5B6BC;
}
@media (min-width:381px) {
	.swiper {
		&::after {
			top: 65px;
		}
	}
}
@media (min-width:768px) {
	.swipe__heading {
		padding: 24px;
	}
	.swiper {
		display: none;
	}
	.hide {
		display: none;
	}
	.swipe__block {
		display: block;
		padding-left: 13px;
		padding-right: 7px;
	}
	.swipe__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.show_all_w {
		padding-left: 21px;
	}
	.show_all {
		border: none;
		font-weight: 500;
		color: #1B1C21;
		padding-left: 16px;
		background-color: transparent;
	}
}
@media (min-width:1120px) {
	.swipe__items {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.swipe__item {
		&:nth-child(7) {
			display: flex;
		}
		
		width: 240px;
	}
	.swipe__block {
		display: block;
		padding-left: 21px;
		padding-right: 15px;
	}
}