.swipe {
	overflow: hidden;
	padding-bottom: 48px;
}
.swipe__block {
	display: none;
}
.swipe__item {
	width: 224px;
	height: 72px;
	margin: 10px;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid $light-gray;
	border-radius: 6px;
}
.swipe2 .swipe__item{
	flex-direction: column;
	justify-content: space-between;
}
.swipe2 .swipe__item p{
	font-size: 16px;
	font-weight: 500;
	padding-top:14px;
	margin-right: auto;
}
.swipe2 .swipe__item div{
	margin-left: auto;
	margin-bottom: 16px;
}
.swipe__img {
	max-width: 108px;
	max-height: 52px;
}
.swipe2 .swipe__item{
	height:160px;
}
.swipe3 .swipe__item{
	width: 260px;
	height: 200px;
	
}


.swipe__icon {
	border: 2px solid $icon-color;
	background-image: url(../img/dropdown.svg);
}
div.swiper {
	// width: 100%;
	height:120px;
    margin-left:16px;
	
	}
div.swiper1::after {
	content: "";
	width: 24px;
	height: 70px;
	background: linear-gradient( to right, rgba(248, 248, 248, 0.2), rgba(248, 248, 248,0.5), rgba(248, 248, 248,0.8), rgba(248, 248, 248,0.95), rgba(248, 248, 248,0.99) );
	z-index: 1;
	position: absolute;
	right: 0;
	top: 10px;

}
div.swiper2::after {
	content: "";
	width: 24px;
	height: 160px;
	background: linear-gradient( to right, rgba(248, 248, 248, 0.2), rgba(248, 248, 248,0.5), rgba(248, 248, 248,0.8), rgba(248, 248, 248,0.95), rgba(248, 248, 248,0.99) );
	z-index: 1;
	position: absolute;
	right: 0;
	top: 10px;

}
div.swiper3::after {
	content: "";
	width: 24px;
	height: 200px;
	background: linear-gradient( to right, rgba(248, 248, 248, 0.2), rgba(248, 248, 248,0.5), rgba(248, 248, 248,0.8), rgba(248, 248, 248,0.95), rgba(248, 248, 248,0.99) );
	z-index: 1;
	position: absolute;
	right: 0;
	top: 10px;

}
div.swiper2{
	height:220px;
}
div.swiper3{
	height:260px;
}


.swiper-slide {
	background-color: $white;
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: $dd;
}
.swiper-pagination-bullet-active {
	background-color:$bullet-act;
}
.swipe__price-cont{
	width:100%;
	height:100%;
	font-size: 14px;
	letter-spacing: .2px;
	line-height: 18px;
}

.p-i{
	position:absolute;
	right:16px;
	bottom:16px;
	
}

.p-btn-text{
	margin:auto;
	transform: translateX(4px);
	color:$white;
	font-weight: 900;

}

.swipe3 .swipe__item{
	padding:16px;
}
.price-item{
	height: 33%;
}
.swipe__price-m{
	margin-top:16px;
}
.swipe__service-term{
	margin-top:16px;
}
.price-item p:first-child{
	padding-bottom:4px;
	color:$gray-txt;
	line-height: 14px;
}

.swipe__info{
	padding-left: 16px;
}
.swipe__price-info{
	width:288px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .2;
	padding-top:16px;
}

.swipe__purpose a{
	display:inline-block;
	max-width:192px;
	color:$dark-txt;
	text-decoration: none;
	font-weight: 900;
}


.swipe-icon_purpose{
	width: 10px;
	height: 10px;
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	display:inline-block;
}
@media (min-width:381px) {
	.swiper {
		&::after {
			top: 65px;
		}
	}
}

